.container {
    margin: 50px;
}

.box {
    background-color: #fff;
    box-shadow: 5px 5px 5px #e1e3e8;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}

.btn {
    min-height: 30px;
    min-width: 60px;
    border: 0;
    border-radius: 3px;
    outline: none;
}

.btn:hover {
    box-shadow: 1px 1px #7F828B;
}
